*{
    margin: 0;
    padding:auto;
}

.a{
    height:200px;
    width:100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    margin-top: 16%;
    margin-left: 12%;
    margin-bottom: 2%;
    padding: 5%;
    border-radius: 20px;
    border: 0.3px solid rgb(255, 255, 255);
    transition: all 0.6s;
}
.a:hover{
    border: 1px solid rgba(171, 157, 8, 0.808); 
    color: rgb(165,152,5);
    transform: translateY(-9px);
    backdrop-filter: blur(9px);

}
body {
    background-image: url(631598.jpg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
}
.navbar{
    display: flex;
    height: 60px;
    background-color: transparent;
    position: sticky;
    top:0;
    transition: all 0.6s ease-in-out;
}
.sticky{
    background-color: rgba(255, 255, 0, 0.501);
    color: whitesmoke;
}
.text-container{
    align-items: center;
    display: inline-block;
    margin-top: 10%;
    margin-left: 20%;
    font-size: 100px;
    color: rgb(165, 152, 5);
}
.txt{
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid rgb(165, 152, 5);
    animation: 
        typing 1.5s steps(21),
        cursor .6s step-end infinite alternate;
}
@keyframes cursor{
   50% {border-color:transparent;}
}
@keyframes typing{
    from{ width:0}   
}
.h{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4%;
    height: 56px;
    margin-top: 0%;
    font-size: 1.15rem;
    background-color:transparent;
    transition: all 0.3s;
    border: 1px; 
    border-bottom: solid rgb(165, 152, 5);
    border-width: 0px;
}
.h:hover{
    color:rgb(165, 152, 5);
    transform:translateY(1px);
    border-width:5px;
    cursor: pointer;
}
.item-container{
    justify-content: center;
    width: 44%;
    margin-left: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    display: flex;
}


.container{
    display: flex;
}
@media screen and (max-width: 768px) {
    .a {
        margin-left: 5%;
        margin-top: 10%;
        width: 80%;
    }

    .text-container {
        font-size: 50px;
    }

    .item-container {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 480px) {
    .a {
        margin-left: 2%;
        margin-top: 5%;
        width: 90%;
    }

    .text-container {
        font-size: 30px;
    }
}